# Environment variables
.env

# Temporary files
temp/
tmp/

# Go binary and build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Debug files
debug/

# Log files
*.log
